<!doctype html>
<html ng-app="app">

<head>
  <script src="bower_components/angular/angular.min.js"></script>

  <script type="text/javascript" src="./node_modules/polygon/node_modules/vec2/vec2.min.js"></script>
  <script type="text/javascript" src="./node_modules/polygon/node_modules/segseg/index.js"></script>
  <script src="./node_modules/polygon/polygon.js"></script>
  <script src="./app.js"></script>
  <script src="./d3.js"></script>
  <script src="./d3Polygon.js"></script>
  <script src="./d3Grid.js"></script>
  <script src="./polyController.js"></script>
  <style media="screen">
    .axis path,
    .axis line {
      fill: none;
      stroke: black;
    }

    .line {
      fill: none;
      stroke: blue;
      stroke-width: 2px;
    }

    .tick text {
      font-size: 12px;
    }

    .tick line {
      opacity: 0.2;
    }
  </style>
</head>

<body ng-controller="polyController">
  <svg width="300px" height="300px" style="border-style:solid">

    <g ng-repeat="z in zones" d3-bars data="z" offset="boundingBox" on-click="d3OnClick(item)"></g>

  </svg>
  <br>
  <d3-grid data='dataset'>
    
  </d3-grid>
  {{boundingBox}} {{center}}

  <div ng-repeat="pt in zones[0].polygon.points">
    x:
    <input type="number" ng-model="pt.x"> y:
    <input type="number" ng-model="pt.y">
  </div>
</body>

</html>
